<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Speed</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Speed Color</string>
			<key>Key</key>
			<string>preference_speedColor</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Titles</key>
			<array>
				<string>White</string>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Yellow</string>
				<string>Cyan</string>
				<string>Purple</string>
				<string>Grey</string>
				<string>Black</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<string>8</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Speed Units</string>
			<key>Key</key>
			<string>preference_speedUnits</string>
			<key>DefaultValue</key>
			<string>KTS</string>
			<key>Titles</key>
			<array>
				<string>KTS</string>
				<string>MPH</string>
				<string>M/S</string>
			</array>
			<key>Values</key>
			<array>
				<string>knots</string>
				<string>mph</string>
				<string>m/s</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Heading</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Heading Color</string>
			<key>Key</key>
			<string>preference_headingColor</string>
			<key>DefaultValue</key>
			<integer>5</integer>
			<key>Titles</key>
			<array>
				<string>White</string>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Yellow</string>
				<string>Cyan</string>
				<string>Purple</string>
				<string>Grey</string>
				<string>Black</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<string>8</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>True North</string>
			<key>Key</key>
			<string>preference_trueNorth</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Map Follows Heading</string>
			<key>Key</key>
			<string>preference_mapFollowsHeading</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Heel</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Heel Color</string>
			<key>Key</key>
			<string>preference_heelColor</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Titles</key>
			<array>
				<string>White</string>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Yellow</string>
				<string>Cyan</string>
				<string>Purple</string>
				<string>Grey</string>
				<string>Black</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<string>8</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Optimum Heel Angle</string>
			<key>Key</key>
			<string>preference_optimumHeelAngle</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Titles</key>
			<array>
				<string>10</string>
				<string>15</string>
				<string>20</string>
			</array>
			<key>Values</key>
			<array>
				<integer>10</integer>
				<integer>15</integer>
				<integer>20</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Optimum Heel Color</string>
			<key>Key</key>
			<string>preference_optimumHeelColor</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Titles</key>
			<array>
				<string>White</string>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Yellow</string>
				<string>Cyan</string>
				<string>Purple</string>
				<string>Grey</string>
				<string>Black</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<string>8</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Announce Heel Alarms</string>
			<key>Key</key>
			<string>preference_speakHeelAlarms</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Under heel alarm:</string>
			<key>Key</key>
			<string>preference_underHeelAlarm</string>
			<key>DefaultValue</key>
			<string>The boat is too flat</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Over heel alarm:</string>
			<key>Key</key>
			<string>preferences_overHeelAlarm</string>
			<key>DefaultValue</key>
			<string>Too much heel</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Pitch</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Pitch Color</string>
			<key>Key</key>
			<string>preference_pitchColor</string>
			<key>DefaultValue</key>
			<integer>4</integer>
			<key>Titles</key>
			<array>
				<string>White</string>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Yellow</string>
				<string>Cyan</string>
				<string>Purple</string>
				<string>Grey</string>
				<string>Black</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<string>8</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
